include ../_config/page.jade
include ../_mixins/mixins.jade
extends ../layouts/layout_inicio.jade
block content
	.container(data-page="how-does-it-work")
		.content.white_4
			section.box_center
				article
					.row.row_how_does_it_work
						.box_img_global
							img(src!="#{page.static}/img/global.png")
						.box_tabs_number
							ul.list_numbers
								li.actived 1
									span.tooltiptext Entra a www.openvios.com y registrate para obtener tu direccion de envios en Miami EUA
										hr
								li 2
									span.tooltiptext Compra los articulos que desees, en las paginas de tu preferencia y envialas a tu nombre seguido de openvios ( Alfonso Garcia / openvios) a tu dieccion de envios obtenida en el paso 1 (shipping Adress): 8372nw 68th street Miami Florida , 33166, telefono : 3059949514
										hr
								li 3
									span.tooltiptext Mándanos tu factura electrónica (invoice) y tracking number a info@openvios.com con las indicaciones de embarque (enviar lo mas pronto posible, esperar todoas mis compras para enviar, enviar conforme vayan llegando mis compras) y nombre completo con ruc o dni de la persona natural o juridica destinataria
										hr
								li 4
									span.tooltiptext ¡Listo! Despachamos tus productos hacia Lima - Perú y las nacionalizamos
										hr
								li 5
									span.tooltiptext Te llamamos para coordinar la entrega.
										hr
		.content.white_4
			section.box_center
				article
					.row.row_details
						.col
							h3 Tiempo de entrega
							.calendar
								img(src!="#{page.static}/img/calendar.png")
								p 8 días
							img.depend(src!="#{page.static}/img/arrow_depend.png")
							.cloud
								img(src!="#{page.static}/img/cloud.png")
								p Factores externos
							span.txt Estos pueden variar por varios factores entre ellos problemas de orden público, condiciones climatológicas y variaciones en itinerarios aéreos.
						hr
						.col
							h3 Precio del servicio
							.box
								img(src!="#{page.static}/img/box.png")
								span.desc Por Kilo
								p $10.5 + I.G.V
							.plus +
							.notes
								img(src!="#{page.static}/img/notes.png")
								span.desc.top Trámites de nacionalizacion
								p $15.00 + I.G.V
							span.txt Ejemplo: SI tu paquete pesa 3.2 kg, el precio final sera (3.2 * 10.5) + 15 = $48.6 + IGV $8.75
								strong TOTAL $57.36
					.row.row_remember
						.col_remember
							.quotes “
							.box_txt
								h4 Recuerde:
								span La garantia es directamente con el proveedor y/o fabricante, nosotros nos encargamos de entregarte el producto exactamente como usted lo compro.
							.quotes ”
						.col_img
							img(src!="#{page.static}/img/man.png")
		.content.griss_5
			section.box_center
				article
					h3 Medio de pago
					.row.row_payment
						.col
							img(src!="#{page.static}/img/bbva.png")
							span N° cuenta:
							span 0011-0351-42-02002337896
						.col
							.box_img
								img(src!="#{page.static}/img/visa.png")
							.box_img.last_child
								img(src!="#{page.static}/img/mastercard.png")
							span.cash Efectivo contra entrega
		.content.white_5
			section.box_center
				article
					.row.row_mail_contact
						img(src!="#{page.static}/img/message.png")
						strong info@openvios.com
						span N°de orden + factura + N° tracking