include ../_config/page.jade
include ../_mixins/mixins.jade
extends ../layouts/layout_inicio.jade
block content
	.container(data-page="news")
		include ../_bones/_aside.jade
		.content
			section.banner_top
				article.row_banner_top
					.ctn_img(data-bg!="#{page.static}/img/banner_details_news.jpg")
					.ctn_title
						.hack_space
						h2 NOTICIAS
					.ctn_shortcuts
						.icon.icon-arrow_left
						ul
							li
							li
							li
						.icon.icon-arrow_right
					.ctn_search
						form(action="")
							input.search(type="text" placeholder="Busca todo sobre Conéctate aquí")
							.icon.icon-search
			section.box_content_child.modules
				article.ctn.ctn_details_news
					h3.title.title_blue BÚSQUEDA GENERAL
					.row.row_details_news
						form.search_news()
							.box_search
								fieldset
									input(type="text" placeholder="INGRESA EL NOMBRE DE LA NOTICIA")
								fieldset
									select.select_lightblue
										option(value="") Ordena por fecha
										option(value="1") Hoy
										option(value="2") Ayer
										option(value="3") Última semana
										option(value="4") Último mes
							fieldset.txt_right
								button.btn.btn_blue(type="button") REALIZAR BÚSQUEDA
						.box_list_news
							ul
								li.item_news
									.ctn_img_news.ctn_img_news_right
										img(src!="#{page.static}/img/news_two.png")
										img.mask.mask_bottom(src!="#{page.static}/img/mask_bottom.png")
									.ctn_txt_news
										h2 
											a(href="javascript:;") Fechas y respuestas del proceso de matricula
										.tags
											a(href="javascript:;") Área
											span  / 
											a(href="javascript:;") Dirección
											span  / 
											a(href="javascript:;") Jefatura
										.date
											span 29.05.2016 03.46 pm
								li.item_news
									.ctn_img_news.ctn_img_news_right
										img(src!="#{page.static}/img/news_two.png")
										img.mask.mask_bottom(src!="#{page.static}/img/mask_bottom.png")
									.ctn_txt_news
										h2 
											a(href="javascript:;") Fechas y respuestas del proceso de matricula
										.tags
											a(href="javascript:;") Área
											span  / 
											a(href="javascript:;") Dirección
											span  / 
											a(href="javascript:;") Jefatura
										.date
											span 29.05.2016 03.46 pm
								li.item_news
									.ctn_img_news.ctn_img_news_right
										img(src!="#{page.static}/img/news_two.png")
										img.mask.mask_bottom(src!="#{page.static}/img/mask_bottom.png")
									.ctn_txt_news
										h2 
											a(href="javascript:;") Fechas y respuestas del proceso de matricula
										.tags
											a(href="javascript:;") Área
											span  / 
											a(href="javascript:;") Dirección
											span  / 
											a(href="javascript:;") Jefatura
										.date
											span 29.05.2016 03.46 pm
								li.item_news
									.ctn_img_news.ctn_img_news_right
										img(src!="#{page.static}/img/news_two.png")
										img.mask.mask_bottom(src!="#{page.static}/img/mask_bottom.png")
									.ctn_txt_news
										h2 
											a(href="javascript:;") Fechas y respuestas del proceso de matricula
										.tags
											a(href="javascript:;") Área
											span  / 
											a(href="javascript:;") Dirección
											span  / 
											a(href="javascript:;") Jefatura
										.date
											span 29.05.2016 03.46 pm
								li.item_news
									.ctn_img_news.ctn_img_news_right
										img(src!="#{page.static}/img/news_two.png")
										img.mask.mask_bottom(src!="#{page.static}/img/mask_bottom.png")
									.ctn_txt_news
										h2 
											a(href="javascript:;") Fechas y respuestas del proceso de matricula
										.tags
											a(href="javascript:;") Área
											span  / 
											a(href="javascript:;") Dirección
											span  / 
											a(href="javascript:;") Jefatura
										.date
											span 29.05.2016 03.46 pm
								li.item_news
									.ctn_img_news.ctn_img_news_right
										img(src!="#{page.static}/img/news_two.png")
										img.mask.mask_bottom(src!="#{page.static}/img/mask_bottom.png")
									.ctn_txt_news
										h2 
											a(href="javascript:;") Fechas y respuestas del proceso de matricula
										.tags
											a(href="javascript:;") Área
											span  / 
											a(href="javascript:;") Dirección
											span  / 
											a(href="javascript:;") Jefatura
										.date
											span 29.05.2016 03.46 pm
							.paginator
								a.disabled.icon.icon-arrow_left(href="javasciprt:;")
								ul
									li
										a.selected(href="javasciprt:;") 1
									li
										a(href="javasciprt:;") 2
									li
										a(href="javasciprt:;") 3
								a.icon.icon-arrow_right(href="javasciprt:;")

				.box_aside
					article.ctn.ctn_search
						h3.title.title_blue_upc Búsqueda  de la noticia
						.row.row_search
							a.btn.btn_blue(href="javascript:;") REALIZAR BUSQUEDA
					article.ctn.ctn_find
						h3.title.title_red ENTÉRATE
						.row.row_find
							ul.owl-carousel.carousel_box
								li
									img(src!="#{page.static}/img/enterate_1.png")
									a(href="javascript:;") Creatividad Empresarial 2016
									.tags
										a(href="javascript:;") Área
										span  / 
										a(href="javascript:;") Dirección
										span  / 
										a(href="javascript:;") Jefatura
									.date
										span 25/08/2016  04:46 p.m.
								li
									img(src!="#{page.static}/img/enterate_1.png")
									a(href="javascript:;") Creatividad Empresarial 2016
									.tags
										a(href="javascript:;") Área
										span  / 
										a(href="javascript:;") Dirección
										span  / 
										a(href="javascript:;") Jefatura
									.date
										span 25/08/2016  04:46 p.m.
					article.ctn.ctn_pride
						h3.title.title_red ORGULLO UPC
						.row.row_pride
							ul.owl-carousel.carousel_box
								li
									img(src!="#{page.static}/img/orgullo_upc_1.png")
									.ctn_txt
										a(href="javascript:;") Colaboradores de UPC recibieron certificación Lean Six Sigma y fueron premiados 
										span Fecha de Publicación: 07/08/2014
								li
									img(src!="#{page.static}/img/orgullo_upc_1.png")
									.ctn_txt
										a(href="javascript:;") Colaboradores de UPC recibieron certificación Lean Six Sigma y fueron premiados 
										span Fecha de Publicación: 07/08/2014
					article.ctn.ctn_evolution
						h3.title.title_blue_2 Evolución Cultural
						.row.row_evolution
							.box_img
								img(src!="#{page.static}/img/evolution.png")
								.mask_img
									.hack_space
									.icon.icon-arrow
							h4 Así vivimos nuestra visión UPC
							.date
								span 25/08/2016  04:46 p.m.